ul.nav.nav-list
    - var current_url = _.isUndefined(page.current_url) ? page.path.match(/(.+)\//)[0] : page.current_url
    each value, key in theme.menu
        li.nav-list-item
            - var re = /^(http|https):\/\/*/gi;
            - var tar = re.test(value) ? "_blank" : "_self"
            - var act = !re.test(value) && "/" + current_url === value
            a.nav-list-link(class={active: act} href=url_for(value) target=tar)
                != __(key)
