@import '../constants'

.archive 
    .archive-year
        font-size 2em
    .post-item 
        padding 1.5em 0
        .post-info
            float right 
            width 125px
            text-align right
            color #7f8c8d
        
    .post-time,
    .post-title-link 
        font-size 1rem
    .post-title-link 
        color text-color
        word-break break-all
        &:hover
            border-bottom 0
            text-decoration underline
    .post-from
        margin-left 8px
        color #333
        &:hover
            text-decoration underline
    

    
