@import '../constants'

footer
    padding-bottom 1px
    .copyright
        padding 1em 0 5em
        border-top 1px solid split-line-color
        text-align left
        p, a
            font-size 14px
            font-weight 100
            color text-color-light
            margin .5em 0
        
        a:hover
            text-decoration underline
            color text-color-gray