@import "../constants"

header
    min-height 60px
    padding 20px 10px
    .title
        float left
        margin-top 18px
        font-size 18px
        font-weight normal
        text-transform uppercase
            
    .nav
        float right
        left 80px
        
    .nav-list-item
        display inline-block
        padding 19px 10px
        a
            color text-color
            font-size 16px
            line-height 1.4
            