@charset "utf-8"

@import "partial/normalize"
@import "partial/base"
@import "partial/header"
@import "partial/home-post-list"
@import "partial/archive-post-list"
@import "partial/post"
@import "partial/footer"
@import "partial/mq"
@import "partial/copyright"

@font-face
    font-family 'sourcesanspro'
    src url('../font/sourcesanspro.woff2') format('woff2'),
    		url('../font/sourcesanspro.woff') format('woff')
    font-weight normal
    font-style normal